#!/bin/bash

# XDG Base Directory Specification
. $HOME/.config/xdg_base_dir/set_env.bash

export SSH_CONFIG=$XDG_CONFIG_HOME/ssh
export GNUPGHOME=$XDG_CONFIG_HOME/gnupg

# 日本語化
export LANG=ja_JP.UTF-8
export TZ=Asia/Tokyo

BIN_DIR=$HOME/.local/bin

. $BIN_DIR/lib/functions.bash



# Update all packages as much as possible
alias pkg_update=$BIN_DIR/mng/pkg_update.bash

# Install packages from package configuration file
alias pkg_install=$BIN_DIR/mng/pkg_install.bash

# Output package list
alias pkg_dump=$BIN_DIR/mng/pkg_dump.bash

# Output dotfiles structure
alias print_struct=$BIN_DIR/struct/print_struct.bash
